.reservation {

  .unclick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55rem;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;

    figure {
      margin: 0 auto 1.5rem auto;
      width: 15rem;
      height: 10rem;

      &.sub_logo {
        background-image: url('../../../../../public/cgv_logo.png');
        background-size: contain;
      }
    }
  }

  .container {
    .title_box {
      margin-bottom: 3rem;
    }

    .reserve_box {

      display: grid;
      grid-template-columns: 40rem 40rem 40rem;

      border: 0.1rem solid #ddd;

      .box_title {
        grid-column: 1/6;

        h4 {
          padding: 2rem 0;
          font-size: 2.1rem;
          text-align: center;
          color: #fff;
          background-color: #343132;
        }
      }

      .common {
        h4 {
          // border-bottom: 0.1rem solid #ddd;
          padding: 1.5rem 0;
          text-align: center;
          font-size: 1.7rem;
          font-weight: 600;
        }
      }

      .date_box {
        grid-column: 1/6;
        text-align: center;
        width: 120rem;

        h4 {
          border-bottom: 0.2rem solid #ddd;
          padding: 1.5rem 0;
        }

        .date_list {
          position: relative;
          border-bottom: 0.1rem solid #ddd;
          padding: 2.5rem 0;
          height: 14rem;


          .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-1.5rem);
            color: #000;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &.slick-prev {
              left: 1%;
              font-size: 0;

              &::after {
                content: '\e93b';
                font-family: 'xeicon';
                position: absolute;
                left: 1rem;
                font-size: 4rem;
                color: #000;
              }
            }

            &.slick-next {
              right: 1%;
              font-size: 0;

              &::after {
                content: '\e93e';
                font-family: 'xeicon';
                position: absolute;
                right: 1rem;
                font-size: 4rem;
                color: #000;
              }
            }
          }

          .month_box {
            // padding: .5rem 0;

            .month {
              display: block;
              margin-bottom: 1.5rem;
              font-size: 2rem;
              color: #ED3124;
            }

            .days_box {
              display: flex;
              justify-content: center;

              .slot {
                display: flex;
                flex-direction: column;
                padding: .5rem;
                cursor: pointer;

                &.on {
                  background-color: #ED3124;
                  color: #fff;
                }

                .days {
                  display: block;
                  margin-bottom: 1.2rem;
                  font-size: 1.9rem;
                }

                span {
                  display: inline-block;
                  padding: 0 .3rem;
                  font-size: 1.9rem;
                  cursor: pointer;
                }
              }


            }
          }


        }
      }

      .movie_box {
        h4 {
          border-bottom: 0.1rem solid #ddd;
          border-right: 0.1rem solid #ddd;
        }

        .movie_list {
          padding: 2rem 0 2rem 5rem;
          height: 50rem;
          overflow-y: scroll;

          li {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 5rem;
            cursor: pointer;
          }
        }
      }

      .region_box {
        position: relative;

        h4 {
          border-bottom: 0.1rem solid #ddd;
          border-right: 0.1rem solid #ddd;
          background-color: #fff;
        }

        .region_select {
          display: flex;
          justify-content: space-between;
          padding: 2rem;
          height: 50rem;
          overflow-y: scroll;

          .main_region {
            position: sticky;
            top: 0;
            padding: 2rem 3rem;
            height: 45rem;
            background-color: #f9f9f9;

            li {
              padding: 1.5rem 0;
              font-size: 1.5rem;
              cursor: pointer;
            }
          }

          .sub_region {
            margin: 0 auto 0 5rem;
            padding: 2rem 0 0 0;

            li {
              padding: .7rem 0;
              font-size: 1.3rem;
              text-align: left;
              width: 10rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer;
            }
          }
        }
      }

      .time_box {

        h4 {
          border-bottom: 0.1rem solid #ddd;
        }

        .time_list {
          padding: 2rem;
          height: 50rem;
          overflow-y: scroll;

          >li {
            border-bottom: 0.1rem solid #ddd;
            padding: 3rem 0;
            font-size: 1.5rem;
            font-weight: 500;

            strong {
              display: block;
              margin-bottom: 1.5rem;
            }
          }

          .minute_list {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;

            >li {
              border-radius: 1.5rem;
              padding: .5rem 0;
              width: 6rem;
              text-align: center;
              color: #333;
              background-color: #ddd;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  // * {
  //   outline: 1px solid #000;
  // }
}