.movie_chart {
  .chart_box {
    display: flex;
    gap: 10rem;

    .title_box {
      text-align: left;
    }

    .movie_set {
      display: flex;
      gap: 2.5rem;

      .movie {
        display: flex;
        flex-direction: column;
        width: 12rem;

        .img_box {
          display: block;
          margin-bottom: 2rem;

          img {
            max-width: 100%;
          }
        }

        strong {
          display: block;
          margin-bottom: .9rem;
          width: 12rem;
          text-overflow: ellipse;
          white-space: nowrap;
          overflow: hidden;
          font-size: 1.3rem;
          font-weight: 600;
          text-align: center;
        }

        .btn {
          margin: 0 auto;
          padding: .6rem 1.5rem;
          width: 100%;
          font-size: 1.3rem;
          font-weight: 400;
          text-align: center;
          background-color: #ED3124;

        }
      }

    }
  }
}