// * {
//   outline: 1px solid #000;
// }

.main_visual {
  height: 70vh;
  background-image: url('../../public/header_background.jpg');
  color: #F5F7FB;

  .container {
    position: relative;
    height: 100%;

    .slogan_box {
      margin-bottom: 5rem;
      padding-top: 13%;

      h2 {
        margin-bottom: 2.5rem;
        font-size: 4.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 1.214;
      }
    }

    .guide_box {
      display: flex;
      width: 100%;
      height: 40rem;

      .cs_grid {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: 50% 50%;

        width: 65%;
        height: 80%;

        .grid_son {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: #fff;
          $bc: #82A4DA;

          @for $i from 1 through 8 {
            @if ($i ==1 or $i ==2 or $i ==5 or $i ==6) {
              &:nth-child(#{$i}) {
                background-color: #1075D2;
              }
            }

            @else {
              background-color: #2966A3;
            }
          }

          @for $i from 1 through 8 {
            @if ($i <=4) {
              &:nth-child(#{$i}) {
                border-right: 0.1rem solid $bc;
                border-bottom: 0.1rem solid $bc;
              }

              @if ($i ==4) {
                &:nth-child(#{$i}) {
                  border-right: none;
                }
              }
            }

            @else {
              border-right: 0.1rem solid $bc;

              @if ($i ==8) {
                &:nth-child(#{$i}) {
                  border-right: none;
                }
              }
            }
          }

          img {
            margin: 0 auto 2rem auto;
            border-radius: 50%;
            border: 0.1rem solid #aaa;
            padding: 1rem;
            width: 50%;
            height: 50%;
          }


          strong {
            display: block;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
          }
        }
      }

    }
  }
}