@media screen and (max-width: 768px) {
  /* * {
  outline: 0.1rem solid #333;
} */

  html {
    font-size: 8px;
  }

  section {
    padding: 5.5rem 0;
    letter-spacing: -0.025em;
  }

  .title_box h3 {
    margin-bottom: 3.5rem;
    font-size: 2.9rem;
    font-weight: 600;
  }

  .title_box p {
    margin-bottom: 2.8rem;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .container {
    width: auto;
  }

  /* TOP_HEADER CSS CODE */
  .top_header {
    display: none;
  }

  /* HEADER CSS CODE */
  header .big_box {
    border-bottom: none;
  }

  header .logo_box {
    display: flex;
    justify-content: center;
    border-bottom: none;
    padding: 2rem;
  }

  header .logo_box img {
    margin: 0 auto;
    width: 15%;
  }

  header .container .gnb {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    padding: 8rem 0;
    width: calc(100% - 10.5rem);
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
  }

  header .container .gnb.rpsv {
    left: 0;
  }

  header .gnb .main_menu {
    flex-direction: column;
  }

  header .gnb .main_menu>li a {
    display: block;
    padding: 2.3rem 0 2.3rem 2rem;
    font-size: 2.9rem;
    text-align: left;
  }

  header .main_menu>li:first-child::after {
    content: '';
    display: none;
  }

  header .main_menu .sub_menu {
    display: none;
    position: static;
    width: auto;
    height: 0;
    transition: 0s;
  }

  header .main_menu>li.rpsv .sub_menu {
    display: flex;
    height: 7rem;
  }

  header .main_menu .sub_menu>li a {
    font-size: 1.4rem;
    font-weight: 300;
  }

  /* header .main_menu:hover>li:first-child::after {
  display: none;
} */

  header .main_menu>li:hover>.sub_menu {
    opacity: auto;
  }

  header .gnb .side_menu {
    display: none;
  }

  header .mbtn {
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    display: block;
    z-index: 999;
    border: none;
    font-size: 3.3rem;
    background: transparent;
  }

  header .main_visual {
    position: relative;
  }

  header .main_slider figure {
    width: auto;
    height: 50rem;
  }

  header .main_visual .desc_box {
    left: 50%;
    transform: translateX(-50%);
    padding: 17% 0;
    width: 35rem;
    height: 50rem;
    text-align: center;
    color: #ddd;
    background: rgba(0, 0, 0, 0.8);
  }

  header .main_slider .slick-dots {
    display: none !important;
  }

  header .desc span {
    font-size: 1.5rem;
  }

  header .desc h2 {
    font-size: 3.1rem;
  }

  header .desc p {
    font-size: 2rem;
  }

  header .desc .btn {
    margin: 0 auto;
    padding: 1.5rem 0;
    font-size: 1.7rem;
  }

  /* PRODUCT SECTION CSS CODE */
  main .product {
    padding: 5.5rem 0;
    height: 80vh;
  }

  main .product .title_box {
    width: auto;
  }

  main .product .title_box p {
    display: none;
  }

  .product .slide_box {
    position: static;
    display: flex;
    flex-direction: column-reverse;
  }

  .product .left_slider {
    float: none;
    margin: 0 auto 3rem auto;
    text-align: center;
  }

  .product .slide_box .left_slider {
    padding-top: 1.5rem;
  }

  .product .left_slider .prd_desc h4 {
    margin-bottom: 2.9rem;
  }

  .product .left_slider .prd_desc p {
    margin-bottom: 2.6rem;
  }

  .product .prd_desc .sub_desc {
    justify-content: center;
    margin: 0 auto 2rem auto;
  }

  .product .prd_desc em {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .product .prd_desc .btn {
    margin: 0 auto;
  }

  .product .right_slider {
    float: none;
    margin: 0 0 2rem 0;
    padding-left: 5rem;
    width: 55rem;
  }

  .product .right_slider figure {
    margin: 0;
    width: 9rem;
    height: 30rem;
    background-size: contain;
  }

  /* WB_INTRO CSS CODE */
  main .wb_intro {
    position: relative;
    height: auto;
    background: linear-gradient(#346c4f 46%, transparent 46%);
  }

  .wb_intro .container .wellness_book {
    height: 30rem;
  }

  .wb_intro .wellness_book .book_center {
    display: none;
  }

  .wb_intro .book_center figure {
    width: 2.5rem;
    height: 3.1rem;
  }

  .wb_intro .container .letter {
    display: none;
  }

  /* WB SECTION CSS CODE */
  .wb>div {
    padding: 5.5rem 2rem;
  }

  .wb figure {
    width: auto;
    height: 36.4rem;
  }

  .wb>div .container>figure {
    margin-bottom: 2.2rem;
  }

  .wb .f_left,
  .wb .f_right {
    float: none;
  }

  .wb .desc,
  .wb .upcycle .desc {
    padding: 0;
    text-align: center;
  }

  .wb .sustain {
    background: linear-gradient(transparent 64%, #346c4f 64%);
  }

  .wb .desc span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .wb .desc h4 {
    margin-bottom: 5.3rem;
    font-size: 2.3rem;
    line-height: 1.31;
  }

  .wb .desc strong {
    margin-bottom: 2.5rem;
  }

  .wb .sustain .desc strong {
    color: #fff;
  }

  .wb .desc em {
    display: block;
    margin-bottom: 2.8rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .wb .desc p {
    margin-bottom: 2.5rem;
    line-height: 1.433;
  }

  .wb .desc .btn,
  .wb .upcycle .desc .btn {
    margin: 0 auto;
  }

  /* other brand css code */
  main .other_brand {
    height: 100vh;
  }

  main .other_brand .container .title_box {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  main .other_brand .container .title_box h3 {
    font-size: 2.5rem;
  }

  main .other_brand .container .title_box p {
    font-size: 1.5rem;
  }

  main .other_brand .container .brand_box {
    grid-template-columns: repeat(3, auto);
    position: relative;
    padding: 0 2rem;
  }

  .other_brand .brand_box .selection {
    height: 20rem;
  }

  .other_brand .brand_box .hwa_e_rak {
    display: none;
  }

  .other_brand .brand_box a.on {
    border: 0.5rem solid #f00;
  }

  .other_brand .brand_box>.btn {
    display: block;
    position: absolute;
    top: -2.7rem;
    right: 0.2rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #d3d3d3;
  }

  .other_brand .each_brand {
    display: none;
  }

  .other_brand .each_brand.on {
    position: absolute;
    top: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    overflow: hidden;
  }

  .other_brand .each_brand .box {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translateY(-50%);
    width: 100%;
  }

  .other_brand .each_brand:nth-of-type(2) .box {
    left: 20%;
  }

  .other_brand .each_brand:nth-of-type(4) .box {
    left: 18%;
  }

  .other_brand .each_brand:nth-of-type(5) .box {
    left: 14%;
  }

  .other_brand .each_brand:nth-of-type(8) .box {
    left: 16%;
  }

  .other_brand .each_brand:nth-of-type(9) .box {
    left: 15%;
  }

  .other_brand .each_brand:nth-of-type(10) .box {
    left: 16%;
  }

  .other_brand .each_brand .box>figure {
    width: 20rem;
    height: 30rem;
  }

  .other_brand .each_brand .itm01 {
    background-image: url('../assets/image/section/other_brand/logo/brand_07.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm02 {
    background-image: url('../assets/image/section/other_brand/logo/brand_01.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm03 {
    background-image: url('../assets/image/section/other_brand/logo/brand_15.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm04 {
    background-image: url('../assets/image/section/other_brand/logo/brand_11.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm05 {
    background-image: url('../assets/image/section/other_brand/logo/brand_09.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm06 {
    background-image: url('../assets/image/section/other_brand/logo/brand_08.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm07 {
    background-image: url('../assets/image/section/other_brand/logo/brand_05.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm08 {
    background-image: url('../assets/image/section/other_brand/logo/brand_04.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm09 {
    background-image: url('../assets/image/section/other_brand/logo/brand_03.png');
    background-size: contain;
  }

  .other_brand .each_brand .itm10 {
    background-image: url('../assets/image/section/other_brand/logo/brand_02.png');
    background-size: contain;
  }

  .other_brand .each_brand .right {
    margin-left: 8.3rem;
  }

  .other_brand .each_brand .right h4 {
    margin-bottom: 3.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.1428571;
  }

  .other_brand .each_brand .right p {
    margin-bottom: 5.6rem;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.1904;
  }

  .other_brand .each_brand .right .btn {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 999;
  }

  .other_brand .each_brand .right .btn .icon {
    margin: 0 auto 0.5rem auto;
    width: 6.4rem;
    height: 6.4rem;
    background-image: url('../assets/image/etc/right_icon.png');
  }

  /* MEDIA SECTION CSS CODE */
  main .media {
    height: 55vh;
    background-color: #f9f9f9;
  }

  .media .container .left {
    padding-top: 0.6rem;
    padding-right: 8rem;
    text-align: left;
  }

  .media .container .left span {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .media .left h3 {
    margin-bottom: 4rem;
    font-size: 2.9rem;
    font-weight: 600;
  }

  .media .left strong {
    display: block;
    position: relative;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .media .left strong::after {
    content: '';
    position: absolute;
    top: 180%;
    left: 0;
    width: 34%;
    height: 0.3rem;
    background-color: #dddddd;
  }

  .media .left .media_tab {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 10.3rem;
  }

  .media .left .media_tab li a {
    display: block;
    font-size: 2.3rem;
    font-weight: 400;
    color: #a9a9a9;
  }

  .media .left .media_tab li.on a {
    color: #333;
  }

  .media .left .btn {
    display: block;
    padding: 1rem 1.4rem;
    width: 33%;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #d9d9d9;
    text-align: center;
  }

  .media .right {
    display: none;
  }

  .media .right.on {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
  }

  .media .top,
  .media .bottom {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 16rem;
  }

  .media .right figure {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .media .tvcf .itm01 {
    background-image: url('../assets/image/section/media/media_08.jpg');
  }

  .media .tvcf .itm02 {
    background-image: url('../assets/image/section/media/media_07.jpg');
  }

  .media .tvcf .itm03 {
    background-image: url('../assets/image/section/media/media_06.jpg');
  }

  .media .tvcf .itm04 {
    background-image: url('../assets/image/section/media/media_05.jpg');
  }

  .media .right .hover_box {
    position: absolute;
    padding: 12% 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .media .right .hover_box p {
    margin-bottom: 1.6rem;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
  }

  .media .right .hover_box .btn {
    display: block;
    margin: 0 auto;
    padding: 0.6rem 3.5rem;
    width: 40%;
    font-size: 1.7rem;
    font-weight: 300;
    background-color: #d9d9d9;
    text-align: center;
  }

  .media .right figure:hover .hover_box {
    opacity: 1;
  }

  .media .campaign .itm01 {
    background-image: url('../assets/image/section/media/media_01.jpg');
  }

  .media .campaign .itm02 {
    background-image: url('../assets/image/section/media/media_02.jpg');
  }

  .media .campaign .itm03 {
    background-image: url('../assets/image/section/media/media_03.jpg');
  }

  .media .campaign .itm04 {
    background-image: url('../assets/image/section/media/media_04.jpg');
  }

  /* FOOTER CSS CODE */
  footer {
    padding: 5rem 0;
    color: #ddd;
    background-color: #111;
  }

  footer .top_footer {
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #333;
    padding-bottom: 2rem;
  }

  footer .top_footer .container,
  footer .bottom_footer .container {
    display: flex;
    flex-direction: column;
  }

  footer .top_footer .site {
    margin-bottom: 3.4rem;
    border: none;
    border-bottom: 0.1rem solid #ddd;
    padding-bottom: 0.8rem;
    width: 13rem;
    font-size: 1.7rem;
    font-weight: 400;
    background: transparent;
    color: #ddd;
  }

  footer .top_footer h3 {
    width: 10%;
  }

  footer .top_footer .top,
  footer .bottom_footer .top {
    display: flex;
    justify-content: space-between;
  }

  footer .bottom_footer .top {
    margin-bottom: 3.4rem;
  }

  footer .top_footer .bottom .footer_list,
  footer .bottom_footer .top .footer_list {
    display: flex;
    gap: 1.5rem;
  }

  footer .top_footer .bottom .footer_list li a,
  footer .bottom_footer .top .footer_list li a {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
  }

  footer .bottom_footer .top .sns_box strong {
    display: block;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    text-align: right;
  }

  footer .bottom_footer .top .sns_list {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    font-size: 1.9rem;
    transform: translateX(5%);
  }

  footer .bottom_footer .bottom span {
    display: block;
    font-size: 1.1rem;
    font-weight: 200;
  }
}