.sub_store {
  padding: 0 0 10rem 0;

  .nav_box {
    margin-bottom: 10rem;
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;
    padding: 2.5rem 0;

    .container {
      .main_list {
        display: flex;
        justify-content: center;
        gap: 5.5rem;

        >li {
          font-size: 2rem;
          font-weight: 500;
          color: #777;
          cursor: pointer;

          &.on {
            color: #ED3124;
          }
        }
      }
    }
  }
}