$bc: #212121;
$fc: #ddd;
$en_letter: 0.025em;

// * {
//   outline: 1px solid #fff;
// }

// HEADER CSS CODE
#header {
  height: 75vh;
  background-image: linear-gradient(to bottom,
      rgba(5, 18, 26, 0) 0,
      rgba(33, 33, 33, 1) 100%,
    ), url('../assets/image/header/header_bg_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  >.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 1rem;
    width: 120rem;

    >* {
      flex: 1px;
    }

    .gnb {
      .main_menu {
        display: flex;
        margin-left: -1.5rem;

        li a {
          display: block;
          padding: 0 1.5rem;
          line-height: 5rem;
          font-size: 1.7rem;
        }
      }
    }

    h1 {
      text-align: center;
      line-height: 5rem;
    }

    .side_menu {
      $end_padding: 0.6rem;
      display: flex;
      justify-content: flex-end;
      margin-right: -$end_padding;

      li a {
        display: block;
        padding: 0 $end_padding;
        line-height: 5rem;
        font-size: 1.6rem;
      }
    }
  }

  .main_visual {

    height: 100%;

    .container {
      position: relative;
      height: 100%;

      .program_desc {
        display: none;
        position: absolute;
        top: 20%;

        em {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 1.5rem;
        }

        h2 {
          margin-bottom: 5rem;
          font-size: 4.5rem;
          font-weight: 600;
        }

        p {
          margin-bottom: 2.5rem;
          font-size: 2.2rem;
          font-weight: 300;
          line-height: 1.314;
        }

        .btn {
          display: inline-block;
          padding: 1rem 1.5rem;
          font-size: 1.5rem;
          background-color: #432;
          text-align: center;
        }
      }

      .program_desc.on {
        display: block;
      }
    }

  }
}

#category {
  padding: 2.5rem 0 10rem 0;

  .container {

    .title_box {
      margin-bottom: 1.5rem;
    }

    .category_list {
      display: flex;
      justify-content: center;
      margin: 0 auto 2.5rem auto;
      width: 50%;

      li {
        &.on {
          color: $bc;
          background-color: $fc;
        }

        a {
          display: block;
          padding: 1rem 2.5rem;
          font-size: 1.7rem;
          font-weight: 400;
          text-align: center;
        }
      }
    }

    @each $category in drama,
    refine,
    sports,
    var {
      @for $i from 1 through 5 {
        .#{$category} .itm0#{$i} {
          background-image: url('../assets/image/section/broadcast/#{$category}/#{$category}_0#{$i}.jpg');
        }
      }
    }

    .contens_box {
      display: none;
    }

    .contents_box.on {
      display: grid;
      grid-template-columns: 30rem 55rem 30rem;
      grid-template-rows: 40rem 40rem;
      grid-gap: 2.5rem;

      a {
        display: block;
        height: 40rem;
      }

      .box {
        height: 40rem;

        &:nth-child(2) {
          height: 82.5rem;
        }

        &:nth-child(5) {
          grid-column-start: 3;
        }
      }
    }
  }
}

.news {
  background-color: #181818;

  .news_box {
    display: grid;
    grid-template-columns: 27rem 27rem 27rem 27rem;
    grid-template-rows: 33rem;
    grid-auto-rows: 33rem;
    grid-gap: 3rem;

    .box:first-child~.box {
      padding: 3.5rem 0;
    }

    .box {
      position: relative;
      background-color: $bc;

      &:first-child {
        grid-column: 1/3;
        padding: 1.5rem;

        .title {
          float: left;
          padding: 0.5rem 0 0 1rem;
          width: 45%;

          h4 {
            margin-bottom: 2rem;
            font-size: 1.9rem;
            font-weight: 700;
          }

          .title_pic {
            margin-bottom: 2rem;
            height: 25rem;
            background-image: url('../assets/image/section/news/news_01.jpg');
            background-size: cover;
          }
        }

        .news_desc {
          float: left;
          margin: 8.5% 0 0 6.5%;
          width: 45%;
          text-align: left;

          strong {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            font-weight: 600;
            text-align: left;
            line-height: 1.353;
          }

          em {
            display: block;
            margin-bottom: 2.5rem;
            font-size: 1.3rem;
            font-weight: 400;
          }

          p {
            margin-bottom: 7rem;
            font-size: 1.3rem;
            line-height: 1.45;
          }

          .btn_box {
            display: flex;
            gap: 1rem;

            .btn {
              display: inline-block;
              padding: 1rem 1.5rem;
              font-size: 1.2rem;
            }
          }
        }
      }

      dl {
        padding: 2rem;

        dt {
          position: relative;
          margin-bottom: 4.5rem;
          font-size: 2.1rem;
          font-weight: 600;

          &::after {
            content: '';
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translateX(-50%);
            width: 24rem;
            height: 0.1rem;
            background-color: #a9a9a9;
          }
        }

        dd {
          margin-bottom: 1rem;
          border-bottom: 0.1rem solid #333;
          padding: 0.5rem 0 0.5rem 0;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 1.5rem;
          font-weight: 300;
        }
      }

      .more {
        position: absolute;
        top: 18%;
        right: 7%;
        font-size: 1.9rem;
      }
    }
  }
}

main>.sports {
  height: 100vh;

  .sports_intro {
    display: flex;
    gap: 0.1rem;

    >figure {
      flex: 1;
      position: relative;
      height: calc(100vh - 30rem);
      cursor: pointer;

      @mixin sports_hover {
        .sports_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10rem;

          figure {
            margin: 0 auto 5rem auto;
            width: 15rem;
            height: 15rem;
          }

          @for $i from 1 through 4 {
            .logo0#{$i} {
              background-image: url('../assets/image/section/sports/logo_0#{$i}.png');
            }
          }

          strong {
            display: block;
            margin-bottom: 1.5rem;
            font-size: 2.6rem;
            font-weight: 500;
          }

          p {
            margin-bottom: 4.5rem;
            font-size: 1.5rem;
          }

          .btn_box {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .btn {
              padding: 1rem;
              font-size: 1.4rem;
            }
          }
        }
      }

      .sports_box {
        display: none;
      }

      &:hover {
        @include sports_hover;

        @for $i from 1 through 4 {
          &.itm0#{$i} {
            background-image: linear-gradient(to bottom, rgba(5, 18, 26, 0.9) 90%,
              rgba(33, 33, 33, 1) 100%),
            url('../assets/image/section/sports/sports_bg_0#{$i}.jpg');
          }
        }
      }
    }

    @for $i from 1 through 4 {
      .itm0#{$i} {
        background-image: linear-gradient(to bottom, rgba(5, 18, 26, 0) 10%,
          rgba(33, 33, 33, 1) 100%),
        url('../assets/image/section/sports/sports_bg_0#{$i}.jpg');
      }
    }
  }
}