@media screen and (max-width:768px) {
  /* * {
    outline: 1px solid #000;
  } */

  /* HEADER CSS CODE */
  #header {
    position: relative;
    height: 100vh;
  }

  #header .mbtn {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border: none;
    padding: 0.5rem;
    font-size: 3rem;
    background-color: #f9f9f9;
  }

  #header .gnb {
    border: none;
  }

  .gnb h1 {
    margin: 0 auto;
    width: 20%;
  }

  .gnb .main_menu {
    flex-direction: column;
    position: fixed;
    left: -100rem;
    z-index: 999;
    padding: 5rem 0;
    width: 40rem;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
  }

  .gnb .main_menu.on {
    left: 0;
  }

  .gnb .main_menu>li>a {
    display: block;
    border-bottom: 0.1rem solid #aaa;
    padding: 3rem 0 3rem 5rem;
    line-height: 1.2;
  }

  .gnb .main_menu .sub_menu {
    display: none;
    position: static;
    border: none;
    width: 100%;
    background-color: #eee;
    visibility: visible;
  }

  .gnb .main_menu .sub_menu.on {
    display: block;
  }

  .gnb .main_menu>li:hover .sub_menu {
    visibility: visible;
  }

  .gnb .main_menu .sub_menu li a {
    border-bottom: 0.1rem solid #ddd;
    padding: 1rem 0 1rem 10rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
  }

  #header>.container {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    width: auto;
  }

  #header .left_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    width: auto;
  }

  #header .firstVisual {
    margin-right: 0;
    width: 50%;
    height: 42rem;
    box-shadow: 0.6rem 0.6rem 0.7rem rgba(0, 0, 0, 0.25);
  }

  #header .book_img_set {
    display: flex;
    gap: 2rem;
    justify-content: center;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
  }

  #header .book_img_set figure {
    margin: 0;
  }

  #header .book_desc {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  #header .book_desc li.on {
    align-items: center;
  }

  #header .book_desc li em {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
  }

  #header .book_desc li h2 {
    margin-bottom: 3rem;
    font-size: 2.8rem;
  }

  #header .book_desc li strong {
    font-size: 1.7rem;
  }

  #header .book_desc li p {
    display: none;
  }

  /* MAIN CSS CODE */
  /* NEW_BOOK SECTION CSS CODE */
  .new_book .sub_info .icon_menu {
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.9rem 0;
    width: auto;
  }

  .new_book .icon_menu li a {
    margin: 0 5rem;
    width: 10rem;
  }

  .new_book .icon_menu li:first-child~li:nth-child(3) {
    margin-bottom: 3rem;
  }

  .new_book .icon_menu figure {
    margin: 0 auto 0.5rem auto;
    width: 5rem;
    height: 5rem;
  }

  .new_book .icon_menu strong {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
  }

  main .new_book>.container {
    position: relative;
    padding: 6.25rem 0;
  }

  .new_book .swiper {
    /* outline: 1px solid #000; */
    padding: 1rem;
    width: 80%;
  }

  .new_book .swiper .swiper-wrapper {
    width: 100%;
  }

  .new_book .swiper figure {
    width: 15.4rem;
    height: 19.8rem;
  }

  .new_book .swiper-button-prev,
  .new_book .swiper-button-next {
    position: absolute;
    top: 66%;
  }

  /* LITTOR SECTION CSS CODE */
  main .littor .container .title_box .logo {
    margin-bottom: 0.5rem;
    width: 30%;
    height: 11rem;
    background-image: url('../assets/image/logo/littor_logo.jpg');
  }

  .littor .title_box p {
    width: 45%;
    font-size: 1.9rem;
    font-weight: 300;
  }

  .littor .title_box p strong {
    color: #999;
  }

  main .littor .littor_list {
    margin-bottom: 4.4rem;
  }

  main .littor .littor_list li {
    display: none;
    margin-top: -5rem;
  }

  .littor .littor_list li.on {
    display: block;
  }

  .littor .contents_box .left_box {
    float: left;
    /* margin-top: 13%; */
    margin-top: 10.8rem;
    padding-right: 3rem;
    width: 50%;
    height: 100%;
    text-align: right;
  }

  .littor .left_box em {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .littor .left_box em::after {
    content: '';
    position: absolute;
    top: 130%;
    left: 86.4%;
    /* left: 0; */
    width: 7.9rem;
    height: 0.2rem;
    background-color: #000;
  }

  .littor .left_box h3 {
    margin-bottom: 4.3rem;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.3157;
  }

  .littor .left_box .citation {
    margin-bottom: 7.4rem;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.38;
  }

  .littor .littor_list li:first-child .citation {
    margin-bottom: 5.3rem;
  }

  .littor .left_box .btn {
    padding: 1.2rem 2rem;
    margin: 0 0 0 auto;
    /* margin: 0 auto 0 0; */
    width: 20%;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    background-color: #d9d9d9;
  }

  .littor .contents_box .right_box {
    float: left;
    width: 50%;
    height: 49.5rem;
  }

  .littor .contents_box .itm01 {
    background-image: url('../assets/image/section/littor/littor_01.png');
  }

  .littor .contents_box .itm02 {
    background-image: url('../assets/image/section/littor/littor_02.png');
  }

  .littor .contents_box .itm03 {
    background-image: url('../assets/image/section/littor/littor_03.png');
  }

  .littor .contents_box .itm04 {
    background-image: url('../assets/image/section/littor/littor_04.png');
    background-size: contain;
  }

  .littor .littor_menu {
    display: flex;
  }

  .littor .littor_menu li {
    font-size: 1.5rem;
    font-weight: 300;
    color: #a9a9a9;
    cursor: pointer;
  }

  .littor .littor_menu li~li::before {
    content: '';
    display: inline-block;
    margin: 0 1rem;
    width: 0.1rem;
    height: 1.2rem;
    background-color: #ddd;
  }

  .littor .littor_menu li.on {
    color: #000;
  }

  /* BOOK_SHOP SECTION CSS CODE */
  main .book_shop {
    background: #f9f9f9;
  }

  .book_shop .container .top_swiper {
    margin-bottom: 2rem;
  }

  .book_shop .container .top_swiper figure {
    width: 49rem;
    height: 41rem;
  }

  .book_shop .container .top_swiper .itm01 {
    background-image: url('../assets/image/section/book_shop/product_01.jpg');
  }

  .book_shop .container .top_swiper .itm02 {
    background-image: url('../assets/image/section/book_shop/product_02.jpg');
  }

  .book_shop .container .top_swiper .itm03 {
    background-image: url('../assets/image/section/book_shop/product_03.jpg');
  }

  .book_shop .container .top_swiper .itm04 {
    background-image: url('../assets/image/section/book_shop/product_04.jpg');
  }

  .book_shop .top_swiper .left_box {
    float: left;
    width: 50%;
  }

  .book_shop .top_swiper .right_box {
    float: left;
    margin: 4.5% 0 0 4.5%;
    width: 50%;
    text-align: center;
  }

  .book_shop .right_box em {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  .book_shop .right_box h4 {
    margin-bottom: 2.9rem;
    font-size: 2.3rem;
    font-weight: 500;
  }

  .book_shop .right_box p {
    margin-bottom: 5.5rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4375;
  }

  .book_shop .right_box .goods_info {
    display: flex;
    justify-content: center;
    gap: 7rem;
    /* margin: 0 auto 3rem auto; */
    margin-bottom: 3rem;
    width: 100%;
    text-transform: uppercase;
  }

  .book_shop .goods_info dt {
    margin-bottom: 0.25rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .book_shop .goods_info dd {
    color: #66EF7F;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .book_shop .right_box .btn {
    margin: 0 auto;
    width: 20%;
    padding: 1rem 2.3rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background-color: #66EF7F;
  }

  .book_shop .container .bottom_swiper figure {
    width: 27rem;
    height: 15rem;
  }

  .book_shop .container .bottom_swiper .itm01 {
    background-image: url('../assets/image/section/book_shop/product_01.jpg');
  }

  .book_shop .container .bottom_swiper .itm02 {
    background-image: url('../assets/image/section/book_shop/product_02.jpg');
  }

  .book_shop .container .bottom_swiper .itm03 {
    background-image: url('../assets/image/section/book_shop/product_03.jpg');
  }

  .book_shop .container .bottom_swiper .itm04 {
    background-image: url('../assets/image/section/book_shop/product_04.jpg');
  }

  .book_shop .container .bottom_swiper .swiper-slide {
    position: relative;
  }

  .book_shop .container .bottom_swiper .swiper-slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .book_shop .container .bottom_swiper .swiper-slide-thumb-active::after {
    background-color: rgba(0, 0, 0, 0);
  }

  /* MEDIA CSS CODE */
  main .media .container .swiper-slide .fig_link {
    display: block;
    margin-bottom: 1.5rem;
  }

  main .media {
    position: relative;
  }

  .media .container .swiper-button-prev,
  .media .container .swiper-button-next {
    position: absolute;
    top: 50%;
  }

  .media .container .swiper-button-prev {
    left: 15%;
  }

  .media .container .swiper-button-next {
    right: 15%;
  }

  .media .swiper-slide figure {
    width: 100%;
    height: 13.2rem;
    background-size: 80%;
  }

  .media .swiper-slide .itm01 {
    background-image: url('../assets/image/section/social_media/media_01.jpg');
  }

  .media .swiper-slide .itm02 {
    background-image: url('../assets/image/section/social_media/media_02.jpg');
  }

  .media .swiper-slide .itm03 {
    background-image: url('../assets/image/section/social_media/media_03.jpg');
  }

  .media .swiper-slide .itm04 {
    background-image: url('../assets/image/section/social_media/media_04.jpg');
  }

  .media .swiper-slide .itm05 {
    background-image: url('../assets/image/section/social_media/media_05.jpg');
  }

  .media .swiper-slide .itm06 {
    background-image: url('../assets/image/section/social_media/media_06.jpg');
  }

  .media .swiper-slide .media_desc strong {
    display: block;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .media .media_desc .sub_intro {
    display: flex;
    justify-content: center;
    margin-bottom: 2.1rem;
  }

  .media .media_desc .sub_intro span {
    display: block;
    font-size: 1.2rem;
    font-weight: 200;
  }

  .media .media_desc .sub_intro .attach::after {
    content: '';
    display: inline-block;
    margin: 0 0.8rem;
    width: 0.1rem;
    height: 1rem;
    background-color: #ddd;
  }

  .media .media_desc .btn {
    padding: 0.9rem 1.7rem;
    margin: 0 auto;
    width: 25%;
    background-color: #d9d9d9;
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* FOOTER CSS CODE */
  #footer {
    padding: 5rem 0;
    color: #f9f9f9;
    background-color: #222;
    text-align: center;
  }

  #footer .top_footer {
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #ccc;
    padding-bottom: 2rem;
  }

  #footer .top_footer .container .ft_logo {
    margin-bottom: 3rem;
  }

  #footer .top_footer .tf_list {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  #footer .top_footer .tf_list li a,
  #footer .bottom_footer .bf_list li a {
    font-size: 1.3rem;
    font-weight: 400;
  }

  #footer .bottom_footer .container .bf_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
  }

  #footer .bottom_footer span {
    font-size: 1.1rem;
    font-weight: 400;
  }
}