.header {
  .top_info {
    border-bottom: 0.1rem solid #eee;

    .list_box {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 120rem;

      ul {
        display: flex;
        gap: 1.5rem;

        .box {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 3rem;
        }
      }
    }
  }

  h1 {
    border-bottom: 0.1rem solid #eee;
    padding: 2rem 0;
    text-align: center;
  }

  .gnb {
    border-bottom: 0.1rem solid #eee;

    .top_menu {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 120rem;

      .main_menu {
        display: flex;

        li {
          margin-left: -4rem;
          padding: 2.5rem 4rem;
          font-size: 2rem;
          font-weight: 500;
        }
      }

      .side_menu {
        display: flex;
        gap: 1.5rem;

        li {
          font-size: 2rem;
          padding: 2.5rem 0;
          cursor: pointer;
        }
      }
    }
  }
}