.movie_search {
  background-color: #f9f9f9;

  .title_box {
    margin-bottom: 3.5rem;
    text-align: center;
  }

  .search_box {
    margin-bottom: 10rem;

    .form_box {
      display: flex;
      justify-content: center;
      gap: 1.5rem;

      input {
        outline: none;
        border: 0.2rem solid #ED3124;
        padding: 1.5rem 2.5rem;
        width: 40rem;
        font-size: 2rem;
      }

      button {
        border: none;
        width: 6rem;
        height: 6rem;
        background-color: #ED3124;

        i {
          color: #fff;
          font-size: 2.5rem;
        }
      }
    }
  }

  .result_box {
    .title_box {
      margin: 0 auto 3.5rem auto;
      width: 60%;
      text-align: right;

      h4 {
        margin-bottom: 1.5rem;
        font-size: 2.4rem;
        font-weight: 600;
      }

      strong {
        display: block;
        font-size: 1.8rem;
      }
    }

    // * {
    //   outline: 1px solid #000;
    // }

    .table_box {
      margin: 0 auto;
      width: 60%;

      .table_slot {
        display: flex;
        gap: 3.5rem;
        margin-bottom: 6rem;

        .img_set {
          img {
            width: 17rem;
          }
        }

        table {
          // width: 50%;
          margin: 5rem 0;

          th {
            border-bottom: 0.1rem solid #ddd;
            padding: 1.5rem 0;
            width: 20%;
            font-size: 1.8rem;
            font-weight: 500;
          }

          td {
            text-align: center;
            word-break: break-all;
            font-size: 1.5rem;
            font-size: 400;

            &:nth-child(3) {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              gap: 1.5rem;
              padding-left: 2rem;
              height: 5.9rem;

              strong {
                // padding: 0 .5rem;
                font-size: 1.5rem;
              }
            }


          }
        }
      }
    }
  }
}