@media screen and (max-width: 768px) {
  .bg_set {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sticky {
    position: static;
  }

  .scroll_up {
    display: none;
  }

  /* HEADER CSS CODE */
  #header {
    color: #333;
  }

  #header .gnb {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60vw;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    transition: 1s;
  }

  #header .gnb.res_show {
    left: 0;
  }

  #header .only_ipad_tab {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }

  .only_ipad_tab h2 {
    margin: 0 auto 0 1%;
    width: 5%;
  }

  .only_ipad_tab .ipad_main_menu {
    display: flex;
    font-size: 17px;
  }

  .only_ipad_tab .ipad_main_menu li a {
    display: block;
    padding: 10px 5px;
  }

  .gnb .container {
    flex-direction: column;
    width: auto;
  }

  .gnb .container h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
  }

  .gnb .container .main_menu {
    position: absolute;
    width: 90%;
    flex-direction: column;
    margin: 25% 0 0 5%;
  }

  .gnb .container .main_menu a {
    border-bottom: 1px solid #a9a9a9;
    padding: 24px 40px 24px 0;
  }

  .gnb .container .side_menu {
    display: none;
  }

  #header .main_slider {
    width: auto;
  }

  .main_slider .bg_01 {
    background-position: 80% 0;
    background-size: auto;
  }

  .main_slider .bg_01 .slogan_box {
    right: 25%;
  }

  .main_slider .slogan_box h3 {
    margin-bottom: 15px;
    font-size: 23px;
  }

  .main_slider .slogan_box strong {
    margin-bottom: 30px;
    font-size: 17px;
  }

  .main_slider .slogan_box .btn_box {
    gap: 15px;
  }

  .main_slider .slogan_box .btn {
    font-size: 15px;
  }

  .main_slider .slogan_box .left {
    padding: 15px 40px;
  }

  .main_slider .slogan_box .right {
    padding: 15px 23px;
  }

  .main_slider .bg_02 {
    background-position: 70% 0;
  }

  .main_slider .bg_02 .slogan_box {
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
  }

  .main_slider .bg_03 {
    background-position-x: 30%;
    background-size: cover;
  }

  .main_slider .bg_03 .slogan_box {
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    color: #000;
  }

  .main_slider .slick-dots {
    right: 3%;
  }

  /* SECTION BRAND_INTRO CSS CODE */
  main .brand_intro {
    padding: 50px 0;
  }

  .brand_intro .container {
    width: auto;
  }

  .brand_intro .img_box {
    display: none;
  }

  .brand_intro .container h3 {
    margin-bottom: 35px;
    font-size: 23px;
  }

  .brand_intro .top_intro {
    /* outline: 1px solid #000; */
    padding: 3%;
    width: auto;

  }

  .brand_intro .top_intro::before {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
  }

  .brand_intro .top_intro h4 {
    margin-bottom: 15px;
    /* font-size: 15px; */
    font-size: 2.8vw;
    text-align: left;
  }

  .brand_intro .top_intro p {
    font-size: 13px;
    text-align: left;
  }

  .brand_intro .bottom_intro {
    margin: 0 auto;
    padding: 3%;
    width: auto;
  }

  .brand_intro .bottom_intro::before {
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
  }

  .brand_intro .bottom_intro h4 strong {
    font-size: 17px;
  }

  .brand_intro h4 a {
    font-size: 9px;
  }

  .brand_intro .bottom_intro h4 a i {
    font-size: 7px;
  }

  .brand_intro .bottom_intro p {
    margin-bottom: 45px;
    font-size: 13px;
  }

  .brand_intro .bottom_intro .btn_box {
    gap: 15px;
  }

  .brand_intro .btn_box .btn {
    font-size: 11px;
  }

  .brand_intro .btn_box .btn {
    padding: 15px 5px;
  }

  /* SECTION SIMS CSS CODE */
  main .sims {
    padding: 50px 0;
    height: 100%;
  }

  .sims .inner .intro_img_01 {
    display: none;
  }

  /* .sims .contents>* {
    outline: 1px solid #000;
  } */

  .sims .contents .game_image {
    margin: 0 auto 15px auto;
    width: 80%;
    background-position: center top;
  }

  .sims .contents .intro_title {
    margin-bottom: 50px;
    text-align: center;
  }

  .sims .intro_title h4 {
    margin-bottom: 15px;
    font-size: 2.5vw;
  }

  .sims .intro_title p {
    font-size: 2.1vw;
  }

  .sims .contents .intro_desc {
    /* outline: 1px solid #000; */
    gap: 20px;
    padding: 0 5%;
    height: 300px;
  }

  .sims .intro_desc .top::before {
    display: none;
  }

  .sims .top h4 {
    font-size: 2.5vw;
  }

  .sims .top p {
    font-size: 1.5vw;
  }

  .sims .top .small_btn:nth-of-type(1),
  .sims .top .small_btn:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .sims .left .bottom {
    gap: 15px;
    height: 50%;
  }

  .sims .left .bottom figure {
    height: 100%;
  }

  .sims .right:hover::before {
    display: none;
  }

  .sims .right .btn_box {
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    opacity: 1;
  }

  .sims .right .btn_box a {
    padding: 10px;
    font-size: 0.5vw;
  }

  .sims .right .btn_box a:first-child {
    margin-bottom: 15%;
  }

  /* SECTION BTF CSS CODE */
  main .btf {
    padding: 50px 0;
    height: 90%;
    opacity: 1;
    background: url('../assets/image/section/game_intro/battlefield/battlefield_section_Bg.jpg') no-repeat center center/cover;
  }

  .btf .inner {
    flex-direction: row;
  }

  .btf .inner .contents {
    gap: 20px;
  }

  .btf .inner .intro_img_01 {
    display: none;
  }

  .btf .contents .game_image {
    margin: 0 auto 30px auto;
    width: 80%;
    background-position: center top;
  }

  .btf .contents .intro_title {
    margin-bottom: 45px;
    text-align: center;
  }

  .btf .intro_title h4 {
    margin-bottom: 15px;
    font-size: 2.5vw;
  }

  .btf .intro_title p {
    font-size: 2.1vw;
  }

  .btf .contents .intro_desc {
    gap: 30px;
    height: 300px;
    padding: 0 5%;
    /* transform: translateX(1%); */
  }

  .btf .intro_desc .top::before {
    display: none;
  }

  .btf .top h4 {
    font-size: 2.5vw;
  }

  .btf .top p {
    margin-bottom: 39px;
    font-size: 1.5vw;
  }

  .btf .top .small_btn:nth-of-type(1),
  .btf .top .small_btn:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .btf .left .bottom {
    gap: 15px;
    height: 80%;
  }

  .btf .left .bottom figure {
    height: 100%;
  }

  .btf .right:hover::before {
    display: none;
  }

  .btf .right .btn_box {
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    opacity: 1;
  }

  .btf .right .btn_box a {
    padding: 10px;
    font-size: 0.5vw;
  }

  .btf .right .btn_box a:first-child {
    margin-bottom: 15%;
  }

  /* SECTION FIFA CSS CODE */
  main .fifa {
    justify-content: center;
    margin-bottom: 0;
    padding: 50px 0;
    height: 100%;
    opacity: 1;
    color: #333;
    background: url('../assets/image/section/game_intro/fifa/fifa_big_bg.jpg') no-repeat center center/cover;
  }

  /* main .fifa .inner * {
    outline: 1px solid #fff;
  } */

  .fifa .inner {
    flex-direction: row;
    /* transform: translateY(3.5%); */
  }

  .fifa .inner .cover_box {
    display: none;
  }

  .fifa .inner .contents {
    gap: 20px;
  }

  .fifa .inner .intro_img_01 {
    display: none;
  }

  .fifa .contents .game_image {
    margin: 0 auto 0 auto;
    width: 80%;
    background-position: center top;
  }

  .fifa .contents .intro_title {
    margin-bottom: 50px;
    text-align: center;
  }

  .fifa .intro_title h4 {
    margin-bottom: 15px;
    font-size: 2.5vw;
  }

  .fifa .intro_title p {
    font-size: 2.1vw;
  }

  .fifa .contents .intro_desc {
    gap: 30px;
    /* transform: translateX(-2%); */
    padding: 0 3%;
    height: 300px;
  }

  .fifa .intro_desc .top::before {
    display: none;
  }

  .fifa .top h4 {
    font-size: 2.5vw;
  }

  .fifa .top p {
    margin-bottom: 10%;
    font-size: 1.5vw;
  }

  .fifa .top .small_btn:nth-of-type(1),
  .fifa .top .small_btn:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .fifa .bottom {
    height: 50%;
  }

  .fifa .bottom figure {
    height: 100%;
  }

  .fifa .bottom .screen_01 {
    background-position: center;
  }

  .fifa .intro_desc .right {
    background-size: 100% 100%;
  }

  .fifa>.btn {
    display: none;
  }

  .fifa .right:hover::before {
    display: none;
  }

  .fifa .right .btn_box {
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    opacity: 1;
  }

  .fifa .right .btn_box a {
    padding: 10px;
    font-size: 0.5vw;
  }

  .fifa .right .btn_box a:first-child {
    margin-bottom: 15%;
  }

  /* SECTION EA GAMES CSS CODE */
  main .ea_games {
    position: static;
    padding: 50px 30px;
    height: 100%;
  }

  .ea_games .container {
    width: auto;
  }

  .ea_games .container h3 {
    font-size: 2.2vw;
  }

  .ea_games .container .other_games_set {
    gap: 20px;
  }

  .ea_games .other_games_set .top_set {
    gap: 20px;
  }

  .ea_games .top_set .game_btn,
  .bottom_set .game_btn {
    bottom: 0;
    width: 90%;
    height: 30%;
    background-size: contain;
    opacity: 1;
  }

  .ea_games .norm::before {
    display: none;
  }

  .ea_games .other_games_set .bottom_set {
    gap: 20px;
  }

  .ea_games .btn {
    padding: 15px;
    width: 30%;
    font-size: 1.5vw;
    text-align: center;
  }

  /* SECTION EA_PLAY CSS CODE */
  main .ea_play {
    padding: 50px 0;
  }

  .ea_play .container {
    width: auto;
  }

  .ea_play .container h2 {
    /* outline: 1px solid #fff; */
    margin: 0 auto 5px auto;
    width: 50%;
    height: 100%;
    transform: translateX(12%);
  }

  .ea_play h3 {
    text-align: center;
    font-size: 3vw;
    line-height: 1.4;
  }

  .ea_play p {
    text-align: center;
    font-size: 2vw;
    line-height: 1.5;
  }

  .ea_play .btn {
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    padding: 3%;
    width: 30%;
    font-size: 2vw;
    font-weight: 700;
    color: #333;
    background-color: #ff9a3a;
    ;
  }

  /* SECTION EA_NEWS CSS CODE */
  main .ea_news {
    position: static;
    padding: 50px 0;
  }

  .ea_news .container {
    position: relative;
    width: auto;
  }

  .ea_news .container h3 {
    margin-bottom: 25px;
    font-size: 2.9vw;
  }

  .ea_news .container .news_box {
    flex-direction: column;
    padding: 0 20%;
  }

  .ea_news .card_news .news_desc {
    padding: 6%;
  }

  .ea_news .news_desc .top strong,
  .ea_news .news_desc .top span {
    font-size: 1.5vw;
  }

  .ea_news .news_desc h4 {
    width: auto;
    font-size: 2.5vw;
  }

  .ea_news .news_desc p {
    font-size: 2vw;
  }

  .ea_news .container>i {
    position: absolute;
    font-size: 9vw;
    cursor: pointer;
    z-index: 999;
  }

  .ea_news .container>i:nth-of-type(1) {
    top: 50%;
    left: 6%;
    transform: trnaslateY(-50%);
  }

  .ea_news .container>i:nth-of-type(2) {
    top: 50%;
    right: 6%;
    transform: trnaslateY(-50%);
  }


  /* FOOTER CSS CODE */
  #footer {
    padding: 10%;
  }

  #footer .top_footer {
    padding-bottom: 5vw;
  }

  #footer .top_footer .container {
    width: auto;
  }

  #footer .bottom_footer .container {
    position: relative;
    width: auto;
  }

  #footer .top_footer .container .top_footer_list {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 2vw;
  }

  #footer .top_footer_list a {
    padding: 0 10px;
  }

  #footer .top_footer_list li:nth-child(-n+5)::after {
    display: none;
  }

  #footer .ea_sns dt {
    margin-bottom: 10%;
    font-size: 2vw;
  }

  #footer .ea_sns dd {
    font-size: 1.8vw;
  }

  #footer .bottom_footer .container {
    padding-top: 5vw;
    width: auto;
  }

  #footer .bottom_footer .bottom_footer_list {
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 0 2.5%;
  }

  #footer .bottom_footer .bottom_footer_list li a {
    padding: 0;
    font-size: 1.5vw;
  }

  #footer .under_box .left .law_list {
    display: none;
  }

  #footer .left .service_list {
    display: none;
  }

  #footer .left span {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(5%);
    display: block;
  }

  #footer .bottom_footer .right {
    justify-content: flex-start;
    margin: 0 auto 0 0;
    padding: 8% 0;
  }


}