@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Taviraj', 'serif';
  src: url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800;900&display=swap')
}

.taviraj {
  font-family: 'Taviraj', 'serif';
}

.container {
  margin: 0 auto;
  width: 120rem;
}

* {
  outline: 1px solid #000;
}

html {
  font-size: 10px;
}

.main_visual {
  height: 100vh;
}

.main_visual .slick-dots {
  position: absolute;
  bottom: 5%;
  left: 4%;
  display: flex;
}

.main_visual .slick-dots li {
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  border: 0.05rem solid #ddd;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.main_visual .slick-dots li.slick-active {
  background-color: #fff;
}

.main_visual .slick-dots li button {
  display: none;
  font-size: 0;
  background: transparent;
}

/* HEADER CSS CODE */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#header .gnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}

.gnb h1 {
  padding-left: 2.5rem;
  margin-top: 2.6rem;
  width: 15%;
}

.gnb .form_box {
  display: inline-block;
}

.gnb .search_box {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  z-index: 0;
  /* padding: 8px 15px; */
  border: none;
  border-radius: 15px;
  width: 0;
  opacity: 0;
  transition: 0.5s;
}

.gnb .search_box.on {
  opacity: 1;
  padding: 8px 15px;
  width: 150px;
}

.gnb .icon_menu {
  display: flex;
  margin-right: 2.5rem;
  font-size: 3.5rem;
}

.gnb .icon_menu a {
  display: block;
  padding: 0 15px;
  line-height: 10rem;
  color: #fff;
}

.gnb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.main_visual {
  width: 100%;
  height: 100vh;
}

.inlinePlayButton {
  display: none !important;
}