@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Taviraj', 'serif';
  src: url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800;900&display=swap')
}

.taviraj {
  font-family: 'Taviraj', 'serif';
}

.container {
  margin: 0 auto;
  width: 120rem;
}

/* * {
  outline: 1px solid #fff;
} */

html {
  font-size: 10px;
}

/* MAIN_VISUAL CSS CODE */
.main_visual {
  position: relative;
  width: 100%;
  height: 100vh;
  letter-spacing: -0.025em;
}

.main_visual .slick-dots {
  position: absolute;
  bottom: 3.7rem;
  right: 18.5rem;
  display: flex;
}

.main_visual .slick-dots li {
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  border: 0.05rem solid #ddd;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.main_visual .tiny_btn {
  display: block;
  position: absolute;
  bottom: 5.2rem;
  right: 4.4rem;
  z-index: 999;
  border-radius: 50px;
  border: 0.1rem solid #ddd;
  padding: 8px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
}

.main_visual .tiny_btn img {
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translatex(-50%);
}

.main_visual #bg_video_03 .tiny_btn img {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translatex(-50%);
}

.main_visual .tiny_btn:hover {
  background-color: #fff;
  color: #000;
}

.main_visual .slick-dots li.slick-active {
  background-color: #fff;
}

.main_visual .slick-dots li button {
  display: none;
  font-size: 0;
  background: transparent;
}

.inlinePlayButton {
  display: none !important;
}

/* HEADER CSS CODE */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.bg_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -999;
}

#header .gnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}

.gnb h1 {
  padding-left: 2.5rem;
  margin-top: 2.6rem;
  width: 15%;
}

.gnb .form_box {
  display: inline-block;
}

.gnb .search_box {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  z-index: 0;
  /* padding: 8px 15px; */
  border: none;
  border-radius: 15px;
  width: 0;
  opacity: 0;
  transition: 0.5s;
}

.gnb .search_box.on {
  opacity: 1;
  padding: 8px 15px;
  width: 150px;
}

.gnb .icon_menu {
  display: flex;
  margin-right: 2.5rem;
  font-size: 3.5rem;
}

.gnb .icon_menu a {
  display: block;
  padding: 0 15px;
  line-height: 10rem;
  color: #fff;
}

.gnb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#header .left_menu {
  position: absolute;
  top: 0;
  left: -150rem;
  /* padding: 2.5rem; */
  padding: 6% 10%;
  width: 80%;
  height: 100vh;
  background: #000;
  transition: 0.5s;
}

#header .left_menu.show_on {
  left: 0;
}

.left_menu figure {
  margin-bottom: 13rem;
  width: 18.6%;
}

.left_menu a {
  display: block;
}

.left_menu .top_menu_set,
.bottom_menu_set {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 10.5rem;
  width: 100%;
  color: #ddd;
  text-align: center;
}



.left_menu .top_menu_set::before,
.bottom_menu_set::before {
  position: absolute;
  top: 18%;
  content: '';
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #f00;
}

/* .bottom_menu_set::before {
  width: 50%;
} */

.left_menu .top_menu_set dl dt,
.left_menu .bottom_menu_set dl dt {
  margin-bottom: 3.3rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.left_menu .top_menu_set dl dd,
.left_menu .bottom_menu_set dl dd {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}