@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Taviraj', 'serif';
  src: url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

/* * {
  outline: 1px solid #333;
} */

.taviraj {
  font-family: 'Taviraj', 'serif';
}

.bg_set {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky {
  position: sticky;
  top: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 120rem;
}

html {
  font-size: 10px;
}

/* MAIN_VISUAL CSS CODE */
.main_visual {
  position: relative;
  width: 100%;
  height: 102.3vh;
  letter-spacing: -0.025em;
}

.main_visual .slick-dots {
  position: absolute;
  bottom: 6rem;
  right: 18.5rem;
  display: flex;
}

.main_visual .slick-dots li {
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  border: 0.05rem solid #ddd;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.main_visual .tiny_btn {
  display: block;
  position: absolute;
  bottom: 5.2rem;
  right: 4.4rem;
  z-index: 999;
  border-radius: 50px;
  border: 0.1rem solid #ddd;
  padding: 8px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
}

.main_visual .tiny_btn img {
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translatex(-50%);
}

.main_visual #bg_video_03 .tiny_btn img {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translatex(-50%);
}

.main_visual .tiny_btn:hover {
  background-color: #fff;
  color: #000;
}

.main_visual .slick-dots li.slick-active {
  background-color: #fff;
}

.main_visual .slick-dots li button {
  display: none;
  font-size: 0;
  background: transparent;
}

.inlinePlayButton {
  display: none !important;
}

/* HEADER CSS CODE */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.bg_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -999;
}

#header .gnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}

.gnb h1 {
  padding-left: 2.5rem;
  margin-top: 2.6rem;
  width: 15%;
}

.gnb .form_box {
  display: inline-block;
}

.gnb .search_box {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  z-index: 0;
  /* padding: 8px 15px; */
  border: none;
  border-radius: 15px;
  width: 0;
  opacity: 0;
  transition: 0.5s;
}

.gnb .search_box.on {
  opacity: 1;
  padding: 8px 15px;
  width: 150px;
}

.gnb .icon_menu {
  display: flex;
  margin-right: 2.5rem;
  font-size: 3.5rem;
}

.gnb .icon_menu a {
  display: block;
  padding: 0 15px;
  line-height: 10rem;
  color: #fff;
}

.gnb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#header .left_menu {
  position: absolute;
  top: 0;
  left: -150rem;
  /* padding: 2.5rem; */
  padding: 8%;
  width: 80%;
  height: 102.3vh;
  background: #000;
  transition: 0.5s;
}

#header .left_menu.show_on {
  left: 0;
}

.left_menu figure {
  margin-bottom: 13rem;
  width: 18.6%;
}

.left_menu a {
  display: block;
}

.left_menu .top_menu_set,
.bottom_menu_set {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 10.5rem;
  width: 100%;
  color: #ddd;
  text-align: center;
}


.left_menu .top_menu_set::before,
.bottom_menu_set::before {
  position: absolute;
  top: 18%;
  content: '';
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #f00;
}

.bottom_menu_set::before {
  top: 21%;
}

.left_menu .top_menu_set dl dt,
.left_menu .bottom_menu_set dl dt {
  margin-bottom: 3.3rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.left_menu .top_menu_set dl dd,
.left_menu .bottom_menu_set dl dd {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

/* SONY PRODUCT SECTION CSS CODE */
#main section {
  padding: 10rem 0;
  letter-spacing: -0.025em;
  color: #333;
}

#main .sony_product {
  height: 100vh;
  background-color: #fff;
}

.sony_product .container .title_box {
  margin-bottom: 18rem;
}

.sony_product .title_box h3 {
  position: relative;
  margin-bottom: 3.5rem;
  width: 50%;
  font-size: 4.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.sony_product .title_box h3::after {
  position: absolute;
  top: 110%;
  content: '';
  display: block;
  width: 24%;
  height: 0.3rem;
  background-color: #000;
}

.sony_product .title_box strong {
  display: block;
  font-size: 1.9rem;
  font-weight: 400;
}

.sony_product .product_introduce {
  position: relative;
  height: 50rem;
}

.sony_product .product_introduce a {
  position: relative;
  display: block;
  width: 20%;
  height: 25rem;
  font-size: 1.3rem;
  letter-spacing: 0.025em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  transition: 0.6s;
}

.sony_product .product_introduce a:hover {
  background-color: #fff;
  color: #000;
}

.sony_product .product_introduce p {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.sony_product .product_introduce .top_set,
.sony_product .product_introduce .bottom_set {
  position: absolute;
  display: flex;
  width: 100%;
}

.sony_product .product_introduce .top_set {
  top: 0;
}

.top_set .speaker::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.sony_product .product_introduce figure {
  position: absolute;
  top: 0;
  left: 6%;
  width: 90%;
  height: 90%;
}

.top_set .itm01 {
  background-image: url('../assets/image/section/sony_product/camera.png');
}

.top_set .itm02 {
  background-image: url('../assets/image/section/sony_product/video_camera.png');
}

.top_set .itm03 {
  background-image: url('../assets/image/section/sony_product/headphone.png');
}

.top_set .itm04 {
  background-image: url('../assets/image/section/sony_product/speaker.png');
}

.top_set .camera,
.bottom_set .more_pd {
  background-color: #232323;
}

.top_set .video_camera,
.bottom_set .playstation {
  background-color: #474747;
}

.top_set .head_phone,
.bottom_set .accessory {
  background-color: #6b6b6b;
}

.top_set .speaker,
.bottom_set .walkman {
  background-color: #8e8e8e;
}

.sony_product .product_introduce .bottom_set {
  bottom: 0;
  left: 20%;
}

.bottom_set .itm05 {
  background-image: url('../assets/image/section/sony_product/walkman.png');
}

.bottom_set .itm06 {
  background-image: url('../assets/image/section/sony_product/accessory.png');
}

.bottom_set .itm07 {
  background-image: url('../assets/image/section/sony_product/playstation.png');
}

.bottom_set .more_pd p {
  top: 50%;
  left: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
}

.bottom_set .more_pd::after,
.more_pd::before {
  position: absolute;
  left: 5%;
  content: '';
  display: block;
  background-color: #fff;
  width: 0;
  height: 0.2rem;
  transition: 0.9s;
}

.bottom_set .more_pd::after {
  top: 65%;
}

.bottom_set .more_pd::before {
  bottom: 65%;
}

.more_pd:hover::before,
.more_pd:hover::after {
  width: 95%;
  background-color: #000;
}

/* EVENT SECTION CSS CODE */
#main .event {
  background-color: #000;
  color: #ddd;
}

.event .container {
  position: relative;
}

.event .event_title_box {
  margin-bottom: 3.5rem;
  text-align: center;
}

.event .event_title_box h3 {
  margin-bottom: 5.5rem;
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.event .event_title_box p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.event .event_slider {
  padding: 0 5%;
}

.event .event_slider .event_box {
  margin: 0 1rem;
}

.event .event_slider figure {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 20rem;
}

.event .itm01 {
  background-image: url('../assets/image/section/event/event_01.jpg');
}

.event .itm02 {
  background-image: url('../assets/image/section/event/event_02.jpg');
}

.event .itm03 {
  background-image: url('../assets/image/section/event/event_03.jpg');
}

.event .itm04 {
  background-image: url('../assets/image/section/event/event_04.jpg');
}

.event .itm05 {
  background-image: url('../assets/image/section/event/event_05.jpg');
}

.event .itm06 {
  background-image: url('../assets/image/section/event/event_06.jpg');
}

.event .event_slider .event_desc {
  width: 100%;
  text-align: center;
}

.event .event_desc h4 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.event .event_desc p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.event .event_desc strong {
  display: block;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.025em;
}

.event .event_desc a {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #ddd;
  padding: 3% 0;
  width: 30%;
  font-size: 1.5rem;
  font-weight: 300;
  transition: 0.5s;
}

.event .event_desc a:hover {
  color: #000;
  background-color: #fff;
}

.event i {
  position: absolute;
  transform: translateY(20%);
  font-size: 4.5rem;
  cursor: pointer;
}

.event i:nth-of-type(1) {
  top: 50%;
  left: -5%;
}

.event i:nth-of-type(2) {
  top: 50%;
  right: -5%;
}

/* REPRESENTATION CSS CODE */
#main .representation {
  padding: 0;
  height: 100vh;
  display: flex;
}

.representation figure {
  background-image: url('../assets/image/section/representation/represen_bg_01.jpg');
  width: 50%;
  height: 100vh;
}

.representation div {
  position: relative;
}

/* WH-1000XM5 CSS CODE */
#main .wh-1000xm5 {
  position: relative;
  top: -100vh;
  padding: 0;
}

#main .wh-1000xm5 .right {
  padding-top: 5rem;
  width: 50%;
  float: right;
}

.wh-1000xm5 .right .title_box {
  margin-bottom: 1.5rem;
  text-align: center;
}

.wh-1000xm5 .title_box h3 {
  margin-bottom: 2.5rem;
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.wh-1000xm5 .title_box p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

#main .wh-1000xm5 .right>figure {
  margin: 0 auto 5.5rem auto;
  width: 80%;
  height: 70rem;
}

.wh-1000xm5 .right>.itm01 {
  background-image: url('../assets/image/section/representation/represen_pd_01.png');
}

.wh-1000xm5 .right .desc_box {
  margin-bottom: 4rem;
}

.wh-1000xm5 .right .desc_box h4 {
  margin-bottom: 3rem;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
}

.wh-1000xm5 .desc_box .event_desc_box {
  margin-bottom: 2rem;
  text-align: center;
}

.wh-1000xm5 .desc_box .event_desc_box figure {
  position: relative;
  margin: 0 auto 2rem auto;
  width: 60%;
  height: 28rem;
  background-image: url('../assets/image/section/event/event_03.jpg');
}

.wh-1000xm5 .desc_box .event_desc_box figure::after {
  content: '';
  position: absolute;
  top: -42%;
  left: 50%;
  transform: translatex(-50%);
  width: 120%;
  height: 0.1rem;
  background-color: #f00;
}

.wh-1000xm5 .event_desc_box strong {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.wh-1000xm5 .event_desc_box span {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}

/* section.test {
  position: sticky;
  top: 0;
  padding: 100px 0;
  height: 100vh;
  background-color: #000;
} */